    <div align="center"><img src="/images/header.gif" /></div>
    <div class="navbar"><%= link_to("EVENTS", events_path) %>&nbsp &nbsp | &nbsp &nbsp
                        <%= link_to("TEAMS", teams_path)   %>&nbsp &nbsp | &nbsp &nbsp
                        <a href="#"> CONTACT      </a>&nbsp &nbsp | &nbsp &nbsp
                        <a href="#"> LEAGUE STATS </a>&nbsp &nbsp | &nbsp &nbsp
                        <%= link_to("HOME", root_path)     %> &nbsp &nbsp | &nbsp &nbsp
                        <%= link_to("ADMIN", signin_path) %> 
                       
    </div>
                                     
