    <div align="center"><img src="/images/header.gif" /></div>
    <div class="navbar"><a href="#">EVENTS      </a>&nbsp &nbsp | &nbsp &nbsp
                      <a href="#"> TEAMS        </a>&nbsp &nbsp | &nbsp &nbsp
                      <a href="#"> CONTACT      </a>&nbsp &nbsp | &nbsp &nbsp
                      <a href="#"> LEAGUE STATS </a>&nbsp &nbsp | &nbsp &nbsp
                      <a href="#"> HOME         </a> 
    </div>
                                     
