<div class="header">Upcoming Events</div>
<%= render(:partial => 'shared/event', :collection => @events) %>

<p>The Chico Bocce League holds monthly tournaments at various locations around Chico.
   If you are interested in signing up, please contact Bree Sears at info@chicobocce.com.</p>
