<div style="clear:both">
<p>The Chico Bocce League holds monthly tournaments at various locations around Chico.
   If you are interested in signing up, please contact Bree Sears at info@chicobocce.com.
</p>
</div>

<div>
<div class="left">
  <p class="header">Upcoming Events</p>
  <p><%= render(:partial => 'shared/event', :collection => @events) %></p>
</div>

<div class="right">
  <p class="header">Top Teams</p>
  <p><%= render(:partial => 'shared/team', :collection => @teams) %></p>
</div>
</div>
