<% @teams.each do |team| %>
  <div>
    <table width="60%">
      <tr>
        <td><%= team.name %> :</td>
        <td class="teamhome"><%= team.totalscore %></td>
      </tr>
</table>
</div>
<% end %>


